@import "./variables";

@mixin h() {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: $gap3;
  padding-bottom: $gap3;
  font-weight: bolder;
  font-family: "Roboto","Helvetica","Arial", "sans-serif";
}

@mixin h1() {
  @include h();
  color: $text;
  font-size: 3rem;
}

@mixin h2() {
  @include h();
  color: $text;
  font-size: 1.4rem;
}

@mixin h3() {
  color: $label;
  font-family: "Roboto","Helvetica","Arial", "sans-serif";
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 500;
  align-self: start;
  margin-top: $gap2;
  margin-bottom: $gap2;
}

@mixin _flex-center-center() {
  display: flex;
  justify-content: center;
  align-items: center;  
}
@mixin flex-row-center-center() {
  @include _flex-center-center();
  flex-direction: row;
}
@mixin flex-column-center-center() {
  @include _flex-center-center();
  flex-direction: column;
}