@import "../../../../_variables";

.drawer {
  position: relative;
  display: none;
  height: 100%;
  flex: 0 0 0px;
  flex-direction: column;
  align-items: center;
  background-color: $panel-bg;
  border-left: 1px solid $panel-border;
  overflow: scroll;
}

.drawerOpen {
  flex: 0 0 250px;
  display: flex;
}

.drawerContentWrap {
  width: 100%;
  height: calc(100% - 225px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.drawerTabsArea {
  width: 100%;
  display: flex;
  align-items: center;
  padding: $gap2;
  gap: $gap2;
} 

.drawerPanelArea {
  overflow: scroll;
  display: flex;
  flex-direction: column;
  gap: $gap3;
  padding-top: $gap1;
  padding-bottom: $gap1;
}

.drawerPanelAreaNoSelectedNode {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.drawerFooterArea {
  border-top: 1px solid $panel-border;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 225px;
  max-height: 225px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}