@import "../../../../../variables";

.astTreePanelArea {
  padding: $gap1;
}
.astTreePanelItem {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.astTreePanelItemStartTag {
  color: $label;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 0.2rem;
  cursor: pointer;
}
.astTreePanelItemStartTagSelected {
  color: $selected;
}
.astTreePanelItemStartTagHovered {
  color: $active;
}